body {
  background-color: #000;
  padding: 20px;
}

header {
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  border: 1px solid #fff;
  border-radius: 10px;
}

h1 {
  border: 1px solid #fff;
  border-radius: 10px;
  color: #fff;
}

ul  {
  list-style-type: none;
}

.wrapper {
  display: flex;
}

#quiz-container {
  flex: 1;
  border: 1px solid #fff;
  border-radius: 10px;
  color: #fff;
  text-align: center;
}

.gist{
  position: absolute;
  bottom: 0;
  left: 0;
}
